$black: #000000;
$dark-grey : #222222;
$light-pink: #F1E4E6;
$pink : #F16D7F;
$white : #ffffff;
$light-grey : #E1E1E1;
$grey : #9F9F9F;
$grey2 : #5D5D5D;
$card_background : #F8F8F8;

$width_container : 1160px;
$width_tablet: 768px;
$width_mobile: 376px;
$item_width : 360px;