@import 'mixins';
@import 'variables';

@media screen and (max-width: 1160px) {
    .intro {
        &__center { 
            background-position-x: -35%;
        }
    }

    .products {
        &__items {
            margin: 0;
            justify-content: space-around;

            &__item {
                margin: 0 0 16px 0;
            }
        }
    }

    .copyright {
        &__content {
            padding: 30px 32px;
        }
    }

    //cart.html
    .cart {
        &__content {
            &__form {
                margin: 113px 16px 0 30px;
            }
        }
    }
    
    //registration.html

    .registration {
        &__content {
            &__loyalty {
                margin: 0 0 0 22px;
            }
        }
    }
}

@media screen and (max-width: 1160px) {
    .products {
        &__item:nth-child(2n - 1) {
            margin-right: 16px;
        }

        .item--3 {
            display: none;
        }
    }   
}

@media screen and (max-width: 960px) {
    .intro {
        height: 367px;
        &__center { 
            background-position-x: -15%;
        }
    }

    .offer {
        &__center {
            
            &__item1,
            &__item2,
            &__item3 {
                max-height: 200px;
            }
        }
    }

    //cart.html

    .cart {
        &__content {
            flex-direction: column;
            justify-content: center;

            &__list {
                max-width: 734px;
                margin: 59px auto 64px;

                &__item {
                    &__delete {
                        margin: 28px 22px 0 auto;
                    }
                }

                &__buttons {
                    margin: 32px 114px 0;

                    .left--button {
                        margin-right: 48px;
                    }
                }
            }

            &__form {
                flex-direction: row;
                margin: 0 0 128px 0;
                justify-content: space-between;
                align-items: center;
                max-width: 100%;

                & form {
                    max-width: 360px;
                    margin: 0 15px 0 0;
                }

                .form--button {
                    margin: 23px 0 0;
                }

                &__checkout {
                    margin: 21px 0 0 15px;
                    max-width: 360px;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .container {
        max-width: $width_tablet;
        padding: 0 16px;
    }

    .header {
        &__nav {
            padding: 18px 16px;
        }
    }

    .intro {
        height: 368px;

        &__center {          

            &__text {
                margin: 0 16px 0 0;

                h1 {
                    @include text-style(normal, 900, 44px, 53px);
                }
                h3 {
                    @include text-style(normal, bold, 24px, 29px);
                }
            }
        }
    }

    .offer {
        margin: 20px 0 155px 0;

        &__center {
            
            &__item1,
            &__item2,
            &__item3 {
                max-height: 168px;
            }
            &__bottom {
                max-height: 116px;
            }
        }
    }

    .products {
        &__item:nth-child(2n - 1) {
            margin-right: 16px;
        }

        .item--3 {
            display: none;
        }
    }

    .feature {
        &__services {
            flex-direction: column;
            align-items: center;

            &__item:last-child {
                margin: 48px 0 64px 0;
            }

            &__item {
                margin: 48px 0 0 0;
            }

            
        }
    }

    .subscribe {
        &__content {
            flex-direction: column;
            align-items: center;
            padding: 64px 0 140px;
            
            &__left {
                margin: 0 0 48px 0;
            }

            &__right {
                margin: 0;
            }
        }
    }

    .copyright {
        &__content {
            padding: 30px 32px;
        }
    }

    //catalog.html

    .products {
        &__filter {
            justify-content: space-between;
            margin: 24px 0 40px;

            &__categories {
                &__title {
                    padding: 0;
                }
            }

            &__sort {
                margin: 10px 0 0 0;

                &__item {
                    .right--item {
                        margin: 0;
                    }
                }
            }
        }

        &__pagination {
            margin: 40px auto 63px;
        }
    }

    //product.html

    .slide {
        &__center {
            margin: 30px auto 29px;

            &__img {
                width: 466px;
                height: 565px;
            }
        }
    }

    .description {
        &__center {
            margin: 0 0 128px 0;
            border-top: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey; 

            &__content {
                outline: none;
            }
        }
    }

    .button--product {
        margin-top: 49px;
    }

    .product-catalog {
        margin: 0 0 113px 0;
    }

    //cart.html

    //registration.html

       .registration {
        &__content {
            &__loyalty {
                @include text-style(normal, 300, 16px, 19px);

                & h3 {
                    @include text-style(normal, 300, 16px, 19px);
                    margin: 0 0 32px;
                }

                & p {
                    margin: 0 0 22px;
                }
            }
        }
    }

    

}

